@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: Azeret Mono;
}

nav > ul > li{
    list-style: none;
}

nav > ul li{
    font-size: 28px;
    font-weight: 800;
}

nav > ul > li button{
    width: 228px;
    height: 58px;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
}

nav ul{
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
    align-items: center;
    margin: 38px 166px 35px 150px;
}

#hero{
    background-image: url("assets/Hero-bg.png");
    width: 1440px;
    height: 652px;
    margin: 0 auto;
}
#hero img{
    width: 240.28px;
    height: 240px;
    margin: 26px 599.86px 32px 599.86px;
}

#hero h2{
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    margin: 0px 221px 0px 221px;
}
#hero p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 24px 294px 0px 294px;
    color: rgb(13, 19, 33, 0.7);
}
#hero button{
    background-color: rgb(13, 19, 33);
    width: 208px;
    height: 66px;
    font-size: 18px;
    border-radius: 8px;
    font-weight: 600px;
    color: rgb(255, 255, 255);
    margin: 32px 616px 44px 616px;
}

/* Main Part Start */
/* Part-1 */
main h1{
    font-size: 32px;
    font-weight: 800px;
    text-align: center;
    margin-top: 154px;
}
main > p{
    text-align: center;
    color: rgb(13, 19, 33, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin: 24px 296px 0px 292px;
}
.layer-1{
    display: flex;
    justify-content: space-between;
    margin: 106.5px 297px 0px 293px;
}
.layer-1 > div h2{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    margin-right: 185.83px;
}
.layer-1 > div p{
    color: rgb(13, 19, 33, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin: 16px 107.83px 32px 0px;
}
.layer-1 > div button{
    width: 150px;
    height: 48px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(13, 19, 33, 0.8);
}
.layer-1 img{
    width: 274.17px;
    height: 240px;
}
#layer-2{
    display: flex;
    justify-content: space-between;
}
#layer-2 > img{
    margin: 137.5px 32px 0px 293px;
    width: 240px;
    height: 240px;
}
#layer-2 > div h2{
    margin: 138.5px 398px 16px 0px;
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}
#layer-2 >div p{
    color: rgb(13, 19, 33, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin: 16px 407px 32px 0px;
}
#layer-2 > div button{
    width: 150px;
    height: 48px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(13, 19, 33, 0.8);
}

/* Part-2 */
.inspiratation > h1{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}
.inspiratation > p{
    color: rgb(13, 19, 33, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin: 24px 296px 80px 292px; 
    text-align: center;
}
.inspiratation > div{
    width: 1140px;
    height: 614px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    margin: 0px 152px 149px 152px ;
}
.inspiratation > div > div{
    padding: 32px;
}
.inspiratation > div > div > iframe{
    border-radius: 16px;
}
/* Part-3 */
.target > h1 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}
.target > p{
    color: rgb(13, 19, 33, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin: 24px 294px 48px 294px; 
    text-align: center;
}
.parent{
    display: flex;
    gap: 24px;
    margin-left: 150px;
    margin-right: 150px;
}
.child{
    width: 364px;
    height: 350px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 50px;
}
.child img{
    width: 56px;
    height: 56px;
    margin-bottom: 24px;
}
.child p{
    margin: 8px 0px 24px 0px;
    color: rgb(13, 19, 33, 0.7);
    font-size: 16px;
    font-weight: 400;
}
.child a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
}
/* Part-4 */